@{
    ViewData["Title"] = "Mentions légales";
}
<h1>@ViewData["Title"]</h1>


<p>  AnaAna est offert par: </p>
<p>  Aranxa CODINA & Ilyas Hamdoune</p>
<p>1234 Main Street - Anywhere </p>
<p> AnaAna est un projet d'école pour le titre Concepteur développeur d'application 2022
CCI Campus Alsace </p>

<hr />
<p> Contact </p>
<p>E-mail: codinaaranxa@gmail.com </p>
<p>Téléphone: 06 81 17 98 25 </p>



