@using AnaAna.Services.ViewModels

@model IEnumerable<CategoriesIndexViewModel>

@{
}
<h1>Listes des catégories</h1>

@foreach (CategoriesIndexViewModel category in Model) {
  <p>@category.Name</p>
}
<a asp-controller="Categories" asp-action="Create" class="btn btn-primary"> Créer </a>


