@using AnaAna.Services.ViewModels

@model IEnumerable<CategoriesIndexViewModel>

@{
}
<h1>Listes des catégories</h1>

@*@foreach (PollsIndexViewModel Poll in Model) {
  <p>@Poll.Title</p>
  <p>@Poll.Description</p>
}*@


