@using AnaAna.Services.ViewModels

@model IEnumerable<PollsIndexViewModel>

@{
}
<h1>Listes des sondages</h1>

@foreach (PollsIndexViewModel Poll in Model) {
  <a href="~/Polls/Retrieve/@Poll.Id">@Poll.Title</a>
  <p>@Poll.Description</p>
}


